<hr />

<a class="md-button" href="https://x.com/intent/tweet?text={{ page.title | urlencode }}&url={{ page.canonical_url }}" target="_blank" rel="noopener"> <i class="fa-brands fa-x-twitter"></i> Share on X (Twitter) </a>
<a class="md-button" href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.canonical_url }}" target="_blank" rel="noopener"> <i class="fa-brands fa-linkedin"></i> Share on LinkedIn </a>
<a class="md-button" href="https://www.facebook.com/sharer/sharer.php?u={{ page.canonical_url }}" target="_blank" rel="noopener"> <i class="fa-brands fa-facebook"></i> Share on Facebook </a>
